body{
     background-color:whitesmoke;
    }
    #button {
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 10px;
      
    }
    #button1 {
      border: 3px solid black;
      border-radius: 30%;
      background-color:royalblue;
    }

#h1{
  font-family: Bodoni MT ;
    color:white;
    font-size:50px;
    font-weight: 900;

    }
    #ab{
      color:black;
      font-size:20px;
      font-weight: 500;
  
      }
    #h1bg{
      background-color: blue;
      border: 1px solid red;
    }
    #img{
      margin: 5px 5px;
      border: 3px solid blue;
      border-radius: 30%;
    }
    #logo{
      margin-left:  65px;
    }
    #pic{
      margin-left:  5px;
    }
    #bt{
      margin-left:  30px;
    }
    #pic2{
      margin-left:  5px;
      margin-right: 1px;
    }
    #right{
      margin-right: 5px;
      text-align: center;
    }
    #ol{
      margin-left:  0px;
      }
